.gandalf .reward
{
    visibility: visible;
}
.gandalf img:hover + .reward
{
    visibility: hidden;
            }
.gandalfimg
{
	opacity: 0.6;
}
.gandalfimg:hover
{
	opacity: 1;
}
.reward
{
	position: absolute;
	font-size: 2.4em;
	border: 1px black solid;
	left: 1%;
	top: 50%;
	color: black;
	background-color: white;
	opacity: 0.8;
	width: 25%;
	border-radius: 15px;
	text-align: center;
	font-weight: bold;
	padding-top: 25px;
	padding-bottom: 25px;
	margin-top: -48px;
	}
.nom_magicien
{
	position: absolute;
	left:6%;
	top: 72%;
	font-size:5em;
	color: white;
	height: auto;
	width: 14%;
	text-align: left;
	display: block;
} 

.chiffre_en_rouge
{
	color: #f47a42;
}
.chiffre_en_rouge:hover
{
	visibility: hidden;
}


 



